* {
  margin: 0;
  padding: 0;
  list-style-type:none;
}
a.prev,a.next {
	height:91px;
	position:absolute;
	width:43px;
	top:70%;
	opacity:0.6;
	text-indent:-99999px;
	-webkit-transition:opacity 200ms ease-out;
}
a.prev:hover,a.next:hover {
	opacity:1;
}
.prev {
	left:0;
	background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}
.next {
	right:0;
	background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}
.slide {
	position:absolute;
	height:50%;
	width:50%;
}
.slider .slide:target {
	z-index: 100;
}
img {
	max-width:50%%;
	width:50%%;
	left:0;
}
@keyframes slide-down {
  0% {transform: translateY(-200px); color:#1455d9;}
  100%{transform: translateY(0px); color:white;}
}
@keyframes fade-in {
  0% { color:#1455d9;}
  100% { color:white;}
}
body, html {
  margin: 0;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}
div.body {
  margin-left: 0%;
  margin-right: 0%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
div.body h1, p, li {
  margin-left: 25%;
  margin-right: 25%;
  font-family: 'Montserrat', sans-serif;
  line-height: 40px;
  text-align: left;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}
div.body li {
  margin-left:30%;
  margin-right:30%;
}
div.body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
div.head {
  background-color: #1455d9;
  margin: 0;
  padding: 1px;
  position: relative;
}
div.head h1{
  animation: slide-down 1s;
  color: white;
  font-family: 'Calligraffitti', cursive;
  font-size: 350%;
  transition: 0.5s;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
div.links {
  background-color: #1455d9;
  border-bottom: 12px solid darkblue;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 1.25%;
  position: sticky;
  position: -webkit-sticky;
  margin-top: -1;
  top:0;
  z-index: 2147483647;
}
div.links a {
  animation: fade-in 1s;
  border-radius: 15px;
  color: white;
  font-size: 110%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  padding: 1.25% 6%;
  text-decoration: none;  
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
div.links a:hover {
  color: darkblue;
  background-color: #4982f5;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
}